.num {
	text-align:right;
}
.ui-btn, .ui-title, .ui-footer {
    text-shadow: 0 0 0 !important;
}
.ui-footer {
    font-size: 0.5em;
}

div.ui-header {
	font-family: 'Lobster', cursive;
}

div.ui-content {
	font-family: 'Josefin Sans', sans-serif;
}

.ui-header .ui-title {
    margin: 0 auto;
}
.ui-header .ui-btn-left, .ui-header .ui-btn-right {
    font-size: 0.6em;
    margin-top: 0.5em;
}
.ui-btn {
    font-size: 0.6em;
}
input {
    line-height: 0em !important;
    min-height: 0em !important;
}
.ui-mobile label {
    font-size: 0.75em;
    margin-top: 0.5em !important
}

.food-type-container img {
	width: 100%;
}

#findNow [role="main"] {
    font-size: 0.7em;
}
#findNow [role="main"] img {
    width: 26px;
}
#findNow [role="main"] td {
    padding-bottom: 2em;
}
